/********************************************
*
*
*  ARTICLES SECTION
*
*
********************************************/

.section-articles {
}

.articles-title {
  padding-top: 7.4rem;
  margin-bottom: 12rem;
  background-image: linear-gradient(rgba(17, 17, 17, 0), rgba(17, 17, 17, 1)),
    url(./images/stock/cameron-stewart-jo9eYA750V0-unsplash.jpg);
  background-size: cover;
  background-position: 50%;
  height: 20vh;
}
